.txt_input {
    width: 250px;
    font-size: 13px;
    padding: 6px 5px;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 2px #DEDEDE inset;
    color: #777777;
    cursor: text;
}

.loginForm {
    width: 490px;
    float: left;
}
#goto_shop_login {
    width: 489px;
    border-left: 1px dotted #777777;
    margin-top: 20px;
    height: 200px;
    float: left;
    text-align: center;
    line-height: 200px;
}
#goto_shop_login a{
    font-size: 20px;
}
#goto_shop_login a:hover{
    text-decoration: underline;
}

.shopLoginForm{
    margin-top: 20px;
}