@CHARSET "UTF-8";
body{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
}
body,ul,li{
	margin:0;
	pading:0;
}
.clear{
	clear:both;
}
span.required{
    color: red;
}
.error_msg{
    color: red;
}
a,a:visited{
	color:#555555;
	text-decoration:none;
}
a:hover{
	color:#183D00;
}
#logo a{
    font-size: 30px;
    font-weight: bold;
}
#accounts{
	float:right;
    font-size: 13px;
}
#accounts ul{
	padding:0;
}
#accounts li{
	list-style-type:none;
	float:left;
}
#accounts a{
    font-size: 13px;
	display:block;
    margin-left: 5px;
}
#accounts a:hover{
	text-decoration:underline;
}
.first_horizon_menu{
	margin-right:10px;
}
#header_main ,#content{
	width:980px;
	margin:0 auto;
}
#header_main{
    margin-top: 10px;
}
#mainmenu li{
	list-style-type:none;
	float:left;
}
#mainmenu ul{
	padding:0;
	margin:0;
}
#mainmenu a{
	text-decoration:none;
}
.shop{
	width:312px;
	height:152px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.block_title{
	border-bottom: 2px solid #7CDAEF;
	margin-bottom:20px;
	color:#04AEDA;
	margin-right:10px;
}
#footer{
	margin-top:40px;
}
.column{
	float:left;
	width:196px;
}
.column li{
	font-size:14px;
}
.column_title{
	color:#000000;
	font-size:16px;
}
#site_map li{
	list-style-type:none;
}
#site_map ul{
	padding:0;
}
#site_map{
	border-top: 1px solid #E7E8E9;
}
#copyright{
	color:#666666;
	font-size:15px;
	margin-top:30px;
	margin-bottom:20px;
}
.top_menu{
    margin-left: 5px;
}
#registration{
    width: 980px;
    margin: 0 auto;
}
#mainmenu{position:relative;width:100%;margin-bottom: 10px;}
div.bar{position:relative;height:42px;background:url(../images/mainmenu.bg14_6x42.gif) repeat-x;}
#mainmenu div.tabbar{width:980px;margin: 0 auto}
#mainmenu .tabbar div.tabs{position:absolute;top:41px;font-size:14px;font-weight:bold;}/*Download by http://www.jb51.net*/
#mainmenu .tabbar .tabs a{float:left;width:80px;height:24px;line-height:24px;padding-top:7px;text-align:center;color: #183D00;font-weight:lighter;font-size:14px;background:transparent;}
#mainmenu .tabbar .tabs a:hover{background:#fff url(../images/nav_hover_80x31.gif) no-repeat;text-decoration:none;margin-left:-1px;padding-left:1px;}
#mainmenu .tabbar .tabs a.actived{background:#fff url(../images/nav_80x31.gif) no-repeat;font-weight:bold;color:#fff;margin-left:-1px;padding-left:1px;}
#mainmenu .tabbar .tabs a.actived:hover{background:#fff url(../images/nav_80x31.gif) no-repeat;font-weight:bold;color:#fff;}
#mainmenu .tabbar .bg{position:relative;left:80px;top:41px;width:560px;height:31px;z-index:-1;}
#mainmenu .tabbar .bg .nw{float:left;width:80px;height:31px;background:transparent url(../images/navleft2_80x31.gif) no-repeat;}
#mainmenu .tabbar .bg .cen{float:left;width:80px;height:31px;background:transparent url(../images/navlcenter_80x31.gif) no-repeat;}
#mainmenu .tabbar .bg .ne{float:left;width:80px;height:31px;background:transparent url(../images/navright_80x31.gif) no-repeat;}
#mainmenu .tabbar .float_icon{background:transparent url(../images/new01_18x19.gif) no-repeat;font-size:0;height:19px;line-height:0;position:absolute;right:403px;text-indent:-999px;top:-4px;width:18px;}
#mainmenu{z-index:20;min-width:980px;}
#mainmenu div.banner{position:relative;height:72px;z-index:10;}
div.bar{height:3px;}
.category_shop_list{
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid #EDEDED;
}
.category_shop_list h3{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    background-color: #EDF2F7;
    padding:0 10px;
    margin: 0;
}
.shop_shelf{
    padding: 10px 0 0 10px;
}
.shop_shelf span{
    width: 174px;
    margin-right: 20px;
    float: left;
}
.shop_shelf img{
    margin: 0;
    padding: 0;
}
.show_shop_title{
    font-size: 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.more_shop{
    float: right;
}
.more_shop a{
    color: #7A9999;
}
.more_shop a:hover{
    text-decoration: underline;
    color: #000000;
}
.shop_image{
    float: left;
    margin: 0 20px 20px 0;
}
