@CHARSET "UTF-8";
body{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
}
body,ul,li{
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}
img{
    border: 0;
}
li{
    list-style-type: none;
}
span.required{
    color: red;
}

.red,.error_msg{
    color: red;
}
a,a:visited{
    color: #8B8884;
	text-decoration:none;
}
a:hover{
	color:#000000;
    text-decoration: underline;
}
#site_name{
    font-size: 30px;
    font-weight: bold;
}
#accounts{
	float:right;
    font-size: 13px;
}
#accounts ul{
	padding:0;
}
#accounts li{
	list-style-type:none;
	float:left;
}
#accounts a{
    font-size: 13px;
	display:block;
    margin-left: 7px;
}
#accounts a:hover{
	text-decoration:underline;
}
.first_horizon_menu{
	margin-right:10px;
}
#top{
    background: url('../images/top_bg.png') white repeat-x 0 0;
    border-bottom: 1px solid #E4E6E2;
    height: 35px;
    line-height: 35px;
}
#top a{
    color: black;
}
#header_main ,#content,#main_content{
	width:980px;
	margin:0 auto;
}
.shop{
	width:312px;
	height:152px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.block_title{
	border-bottom: 2px solid #7CDAEF;
	margin-bottom:20px;
	color:#04AEDA;
	margin-right:10px;
}
#footer{
    margin-top: 60px;
}
#site_map{
    text-align: center;
    color: #8B8884;
}
#site_map a{
    color: #8B8884;
    font-size: 15px;
    margin: 0 5px;
}
#site_map a:hover{
    color: #000000;
}
#copyright{
    text-align: center;
    color: #8B8884;
	font-size:13px;
	margin-top:15px;
	margin-bottom:20px;
}
.top_menu{
    margin-left: 5px;
}
#registration, #logo, #main_menu{
    width: 980px;
    margin: 0 auto;
}
#logo{
    margin-top: 10px;
}
#main_menu{
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../images/menu_bg.png) repeat-x #008000 0 0;
}
#nav ul{
    padding: 0;
    margin: 0;
}
#nav li{
    width: 100px;
    float: left;
}
#nav li a{
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
}
#nav li a:hover{
    text-decoration: none;
    background: url('../images/current.png') repeat-x #008000 0 0;
}
.current{
    background: url('../images/current.png') repeat-x #008000 0 0;
}
.search_block{
    height: 35px;
    line-height: 35px;
    float: right;
    margin-right: 5px;
}
.search_block input{
    margin-top: 4px;
    height: 15px;
    width: 150px;
    background: url("../images/search.png") no-repeat scroll 5px 3px white;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    line-height: 1.2em;
    padding: 4px 10px 4px 28px;
}
.category_shop_list{
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid #D3D3D3;
}
.category_shop_title{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    margin: 0;
    background: url("../images/title_bg.gif") #EDF2F7 repeat-x 0 0;
    font-size: 15px;
    font-weight: bold;
}
.shop_shelf{
    padding: 10px 0 0 10px;
}
.shop_shelf span{
    width: 174px;
    margin-right: 19px;
    float: left;
}
.shop_shelf img{
    margin: 0;
    padding: 0;
}
.show_shop_title{
    font-size: 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.category_name{
    float: left;
}
.more_shop{
    float: right;
}
.shop_image{
    float: left;
    margin: 0 20px 20px 0;
}
.to_add_shop{
    text-align: center;
    color: white;
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;

}
.to_add_shop a{
    font-size: 16px;
    color: #ffffff;
}
.blue_btn {
    background: white url('../images/register.gif') no-repeat -5px top;
    border: 1px solid #3282D0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
}
.errorSummary li{
    color: red;
}
.drop_list_menu{
    display: none;
    position: absolute;
    top: 30px;
    z-index: 99999;
    overflow: hidden;
    width: 100px;
    border: 1px solid #D3D3D3;
    background: #ffffff;
}
.drop_list_menu li{
    display: block;
    float: none !important;
}
a.account_label:hover{
    text-decoration: none !important;
}
