#note_text{
    width: 400px;
    height: 150px;
}
.note_detail{
    padding: 20px;
    width: 400px;
    border: 1px dotted grey;
    margin: 20px auto;
}
.note_bottom{
    text-align: center;
    float: right;
}
.link-column a{
    color: #0000ff !important;
    text-decoration: underline !important;
}