.input_label{
    text-align: right;
}
.txt_input {
    width: 250px;
    font-size: 13px;
    padding: 6px 5px;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 2px #DEDEDE inset;
    color: #777777;
    cursor: text;
    float: left;
}
.blue_btn {
    background: white url('../images/register.gif') no-repeat -5px top;
    border: 1px solid #3282D0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
}
.register_error_msg{
    color: red;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
}
.hint {
    color: #999999;
    display: block;
    font-size: 14px;
    padding-top: 5px;
    clear: both;
}
.regForm{
    width: 550px;
    float: left;
}
#goto_shop_register {
    width: 429px;
    border-left: 1px dotted #777777;
    margin-top: 20px;
    height: 400px;
    float: left;
    text-align: center;
    line-height: 400px;
}
#goto_shop_register a{
    font-size: 20px;
}
#goto_shop_register a:hover{
    text-decoration: underline;
}