.shop_list_tb{
    margin: 10px 20px;
}
.shop_list_tb table{
    border-bottom: 1px solid #808080;
}
.shop_list_no{
    width: 50px;
}
.shop_list_name{
    width: 400px;
}
.shop_list_tb table th{
    background-color: #000000;
    color: white;
    padding: 5px 25px;
}
.shop_list_tb table tr{
    border-bottom: 1px solid #808080;
}
.operation{
    margin-top: 20px;
}